---
title: Home
layout: page
---



<section id="about">
  <figure class="text-center">
    <img class="round" src="{% asset 'mary.jpg' @path %}" alt="Mary Mosman" />
    <figcaption>
      <strong>Mary Mosman</strong>
    </figcaption>
  </figure>
  <p class="text-center">
    I'm a Software Engineer, Instructor & Curriculum Designer residing in Minnesota. I'm currently working remotely for 
    <a href="https://www.techelevator.com/">Tech Elevator</a>. Over the years, I’ve worked as a web developer at many companies 
    throughout the Twin Cities, but teaching programming & web development to others 
    is what I'm passionate about. I’ve taught people of all ages through formal college 
    classes, corporate training, and less formal gatherings & meet-ups. 
  </p>
  <p class="text-center">Outside of tech, I have a love of languages and maps. While I 
  long to travel the real world some day, for now I’m more likely to be journeying through 
  imaginary places from books, games, and anime. I'm a big fan of K-Pop and J-Pop/J-Metal, 
  and am working on learning bits of both Korean & Japanese to facilitate my musical whimsy.
  </p>
</section>
<!-- <section>
  <h2>Learn More</h2>
  <ul class="page-list">
    <li class="page-list-item">
      <a href="{{ 'blog' | relative_url }}" title="My Blog">
        <h3>
            {% include svg-icon.html icon="pencil" %}
            My Blog 
            {% include svg-icon.html icon="arrow-right" %}
          </h3>
      </a>
      <p>Curious what I've been up to? Check out my blog!</p>
    </li>
    
    <li class="page-list-item">
      <a href="{{ 'books' | relative_url }}" title="Reading">
        <h3>
          {% include svg-icon.html icon="books" %}
          Books 
          {% include svg-icon.html icon="arrow-right" %}
        </h3>
        <p>
          I read a lot - mostly manga & fantasy novels. Wonder what I'm reading? Check out my book list.
        </p>
      </a>
    </li>
      
    <li class="page-list-item">
      <a href="{{ 'watch' | relative_url }}" title="Watch List">
        <h3>
            {% include svg-icon.html icon="video-camera" %}
            Watch List 
            {% include svg-icon.html icon="arrow-right" %}
          </h3>
        <p>
          I watch a good amount of anime, but I've recently started watching more Korean drama, 
          Chinese fantasy, and the occassional American show or movie. Curious what I'm watching or
          looking for a non-typical recommendation? This is the place. 
        </p>
      </a>
    </li>

    <li class="page-list-item">
      <a href="{{ 'games' | relative_url }}" title="Games">
        <h3>
            {% include svg-icon.html icon="dice" %}
            Games
            {% include svg-icon.html icon="arrow-right" %}
          </h3>
        <p>
          Stuff about games that I am currently playing or have previously played. 
        </p>
      </a>
    </li>

    <li class="page-list-item">
      <a href="{{ 'worldbuilding' | relative_url }}" title="World Building">
        <h3>
            {% include svg-icon.html icon="leaf" %}
            World Building 
            {% include svg-icon.html icon="arrow-right" %}
          </h3>
        <p>
          Tag along on my world building adventure!  
        </p>
      </a>
    </li>
  </ul>
</section> -->