---
title: 2018 Reads
layout: page
---

<h2>Goal</h2>
<p>
  My goal for 2018 was to read 100 books, and <strong>yes</strong> manga counts!!!  
</p>
<p>
  I managed to surpass my goal, reading 112 books total. 
</p>
<ul>
  <li>Novels: 37</li>
  <li>Manga: 64</li>
  <li>Graphic Novels: 10</li>
  <li>Non-Fiction: 1</li>
</ul>

<h2>Books</h2>
{% assign booklist = "" | split: "" %}

{% for book in site.book %}
  {% for date in book.read %}
    {% assign end_year = date.end | date: "%Y" %}
    {% if end_year == '2018' %}
      {% assign booklist = booklist | push:book %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign sortedBooks = booklist | sort:"name_full" %}

<section>
  <ul class="book-list">
  {% for item in sortedBooks %}
    <li class="book-list-item">
      {% include book-info.html book=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>