---
title: 2019 Reads
layout: page
---

{% assign booklist = "" | split: "" %}

{% for book in site.book %}
  {% for date in book.read %}
    {% assign end_year = date.end | date: "%Y" %}
    {% if end_year == '2019' %}
      {% assign booklist = booklist | push:book %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign sortedBooks = booklist | sort:"name_full" %}

<section>
  <ul class="book-list">
  {% for item in sortedBooks %}
    <li class="book-list-item">
      {% include book-info.html book=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>