---
title: Books by Author
layout: page
---


{% assign author_list = site.book | group_by: 'author_last_first' %} 
{% assign author_list_sorted = author_list | sort: 'name' %} 
{% for name in author_list_sorted %} 
<section>
  <h3>{{ name.items.first.author_full }}</h3>
  <ul class="book-list">
  {% assign author_books_sorted = name.items | sort: 'name_full' %} 
  {% for book in author_books_sorted %}
    <li class="book-list-item">
      {% include book-info.html book=book style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>
{% endfor %}