---
title: Books
layout: page
---


<section>
  <h2>Current Reads</h2>

  {% assign booklist = site.book | where_exp: 'item', "item.status contains 'current'"  %}
  <ul class="book-list">
  {% for item in booklist %}
    <li class="book-list-item">
      {% include book-info.html book=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>

{% assign booklist = site.book | where_exp: 'item', "item.status contains 'to-read'"  %}
{% if booklist.size > 0 %}
<section>
  <h2>Next Up</h2>

  <ul class="book-list">
  {% for item in booklist limit: 5%}
    <li class="book-list-item">
      {% include book-info.html book=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}


<section>
  
  <h2>Recent Reads</h2>

  {% assign booklist = site.book | where: 'status', 'read' | sort: 'last_read' | reverse %}
  <ul class="book-list">
  {% for item in booklist  limit: 5 %}
    <li class="book-list-item">
      {% include book-info.html book=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>


{% assign yearPages = site.pages | where: "category", "Books For Year" | sort:"year" | reverse %}
<section>
    <h2>More...</h2>
  
    <nav class="books-nav">
      <ul>
        <li>
          <a href="{% link books/byTitle.html %}">Books by Title</a>
        </li>
        <li>
          <a href="{% link books/byAuthor.html %}">Books by Author</a>
        </li>
        {% for page in yearPages %}
          <li>
            <a href="{{ page.url }}">{{ page.year }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </section>