<div class="header-container">
  <header>
    <h1 class="site-title">
    {% if page.title == "Home" %}
      {{ site.title }} 
    {% else %}
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
    {% endif %}
      <small>{{ site.tagline }}</small>
    </h1>
  </header>

  {% if page.title == "Home" %}
    <nav>
    <ul>
      <li>
        <a href="{{base_url}}\blog">{% include svg-icon.html icon="pencil" %} Old Blog (not updating)</a>
      </li>
    </ul>
  </nav>
  {% endif %}
</div>