<div class="header-container">
  <header>
    <h1 class="site-title">
    {% if page.title == "Home" %}
      {{ site.title }} 
    {% else %}
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
    {% endif %}
      <small>{{ site.tagline }}</small>
    </h1>
  </header>

  {% if page.title != "Home" %}
  <nav>
    <ul>
      <li>
        <a href="{{base_url}}\blog">{% include svg-icon.html icon="pencil" %} Blog</a>
      </li>
      <li>
        <a href="{{base_url}}\books">{% include svg-icon.html icon="books" %} Books</a>
      </li>
      <li>
        <a href="{{base_url}}\watch">{% include svg-icon.html icon="video-camera" %} Watch List</a>
      </li>
      <li>
        <a href="{{base_url}}\games">{% include svg-icon.html icon="dice" %} Games</a>
      </li>
      <li>
        <a href="{{base_url}}\worldbuilding">{% include svg-icon.html icon="leaf" %} World Building</a>
      </li>
    </ul>
  </nav>
  {% endif %}
</div>