{% if include.style == 'link' %}
<a href="{{ include.media.url }}" title="{{include.media.title}}" >
{% endif %}
<div class="media-container">
  <div class="media-image small">
    {% if include.media.img %}
      {% if include.media.img contains 'http' %}
        <img src="{{include.media.img}}" alt="poster" />
      {% else %}
        {% asset {{include.media.img}} alt="{{include.media.title}}" %}
      {% endif %}
    {% endif %}
  </div>

  <div class="media-info">
    <h3 class="title">
      {{ include.media.title }} 
    </h3>
    {% if include.media.jp_title %}
    <p class="japanese-title">
      Japanese Title: {{include.media.jp_title}}
    </p>
    {% endif %}
    {% if include.media.studio %}
    <p class="studio">
      Producer: {{ include.media.studio }} {% if include.media.jp_studio %}({{include.media.jp_title}}){% endif %}
    </p>
    {% endif %}
    {% if include.media.director %}
    <p class="director">
      Director: {{ include.media.director }} {% if include.media.jp_director %}({{include.media.jp_director}}){% endif %}
    </p>
    {% endif %}
    {% if include.media.status %}
    <p class="status">  
      {% if include.media.status == 'current-new-season' %}
        Watching the new season!
      {% elsif include.media.status == 'current' or include.media.status == 'current-first-time' %}
        This is a new show for me!
      {% elsif include.media.status == 'hold-new-season' %}
        On hold - until a new season is released.
      {% elsif include.media.status == 'on-hold' %}
        On hold - watching other things but will come back...
      {% elsif include.media.status == 'current-rewatch' %}
        Rewatching this.
      {% elsif include.media.status == 'to-watch' %}
        Excited to see this!
      {% elsif include.media.status == 'to-watch-new-season' %}
        Excited to see the new season!
      {% elsif include.media.last_seen %} 
        Last finished on {{ include.media.last_seen  | date: "%B %e, %Y" }}
      {% endif %}
    </p>
    {% endif %}
  </div>
</div>
{% if include.style == 'link' %}
</a>
{% endif %}
