$header-base-color:  $bold-pink;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
  border-bottom: 2px solid $dark;
}

.site-title {

  a {
    color:$header-base-color;
  }
  font-family: 'Simonetta', cursive;
  font-size: 2.5rem;
  margin-top: 0;
  
  small {
    color: 
    adjust-color( $header-base-color, $saturation: -60% );
    font-size: 1.5rem;
    font-style: italic;
  }
}

nav {
  text-align: right;
  li {
    list-style-type: none;
    display: inline-block;
    margin-right: .5rem;
  }
}