// Body resets

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: .25rem;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

body {
  color: $body-font;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

main {
  width: 80%;
  max-width: 50rem;
  margin: auto;

  @media all and (max-width: 520px) {
    width: 100%
  }
}

section {
  border-bottom: 1px solid $dark;
  padding: .5rem 0;
  margin-bottom: 1rem;

  h1 {
    margin: 30px 0 15px;
  }
  h2 {
    margin: 20px 0 15px;
  }
  h3 {
    margin: 15px 0 15px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .2s linear;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

figure {
  img {
    margin: auto;
  }
  figcaption {
    margin-top: 1rem;
    display: block;
    color: $heading-color-faded;
    text-align: center;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

img.round {
  border-radius: 50%;
}

table {
  margin: auto;
  margin-bottom: 1rem;
  width: 95%;
  font-size: 85%;
  background-color: $table-bg;
  color: $table-font;
  border: 1px solid $table-border;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
}

th {
  text-align: left;
  background-color: $table-head;
}

tbody tr, thead tr {
  border-bottom: 1px solid $table-border;
}

tfoot tr {
  background-color: $table-foot;
}

footer {
  margin-top: 2rem;
  padding: 1.5rem .5rem;
  border-top: 2px solid $dark;
  text-align: center;
}

svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: -2px 8px 0 8px;
  fill: $light;
  transition: fill 0.2s linear;
}

