footer {
  color: $heading-color-faded;

  a {
    color: $heading-color-faded; 
    svg {
      margin: -2px 4px 0 4px;
      fill: $heading-color-faded;
      transition: fill .2s linear;
    }

    &:hover svg {
      fill: lighten($heading-color-faded, 10%);
    }
  }
}

.footer-links {
  margin-bottom: 1rem;
  padding: 0;
  
  li {
    list-style-type: none;
    display: inline-block;
    margin-right: .5rem;
  }
}