
.page-list {
  display: block;
  padding: 0;
  margin: 1rem 0;
  list-style: none;

  li {
    position: relative;
    display: block;
    padding: 1.2rem 0;
    border-bottom: 1px solid $medium-pink;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.page-list-item {
  a {
    text-decoration: none;
    h3 {
      position: relative;
      display: block;
      padding-right: 25px;
      color: $link-color;
      svg {
        fill: $link-color;
      }
      .icon-arrow-right {
        opacity: 0;
        transition: opacity .2s linear;
      }
    }
    &:hover h3 .icon-arrow-right {
      opacity: 1;
    }
  }
  p {
    display: block;
    margin: .5rem 0;
    font-size: 15px;
    color: $body-font;
  }
}