.games-nav {
  text-align: left;
}

.game-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;

  .game-image {
    flex: none;
    margin-right: 2rem;
    width: 350px;
    height: 250px;
    img {
      max-width:250px;
      max-height:350px;
    }
  }
  .game-image.small {
    height: 150px;
    width: 120px;
    display: flex;
    align-items: center;
    img {
      flex: none;
      max-width:120px;
      max-height:150px;
      margin-bottom: 0;
    }
  }

  .game-info {
    flex: 3 100%;

    h3 {
      margin: 0;
      font-size: 1.5rem;
    }

    .author {
      margin-left: .5rem;
    }
  }
}

.game-list {
  display: block;
  padding: 0;
  margin: .5rem 0;
  list-style: none;

  li {
    position: relative;
    display: block;
    padding: 1.2rem 0;
    border-bottom: 1px solid $medium-pink;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.game-list-item {
  a {
    text-decoration: none;

    h3 {
      padding-right: 25px;
      color: $body-font;
      transition: color .2s linear;
      svg {
        fill: $link-color;
      }
      .icon-arrow-right {
        opacity: 0;
        transition: opacity .2s linear;
      }
    }
    
    &:hover {
      h3 {
        color: $link-color;
      }
      .icon-arrow-right {
        opacity: 1;
      }
    }
  }
  p {
    display: block;
    margin: .5rem 0;
    font-size: 15px;
    color: $body-font;
  }
}