// Variables
$onyx: #3e323c;
$bold-pink:  #E53972;
$medium-pink: #E4959E;
$pink-grey: #C6ACAF;
$accent-color: #4EC9CC;
$light: #DFD1D3;
$dark: #1D171C;

$root-font-family: 'Open Sans', Arial, sans-serif;
$heading-color-font-family: 'Arima Madurai', cursive;
$code-font-family: 'Roboto Mono', Menlo, Monaco, "Courier New", monospace;
$jp-font-family: 'Noto Serif JP', serif;

$root-font-size: 16px;
$root-line-height: 1.5;

$body-bg: $onyx;
$body-font: $light;
$alt-font: $dark;
$heading-color: $medium-pink;
$heading-color-faded: adjust-color( $heading-color, $saturation: -35% );

$table-bg: $pink-grey;
$table-head: $medium-pink;
$table-foot: adjust-color( $table-bg, $lightness: -5% );
$table-font: $dark;
$table-border: adjust-color( $table-bg, $lightness: -15% );

$link-color: $accent-color;

$code-bg: $dark;
$code-font: #bfbfbf;

$alert-bg: $dark;


// Imports
@import "_base";
@import "_typography";
@import "_header";
@import "footer";
@import "_home";
@import "_page";
@import "_blog";
@import "_books";
@import "_vizmedia";
@import "games";
@import "_code";
@import "_highlight";