---
layout: default
title: My Blog
---

<section>
  <div class="posts">
    {% for post in paginator.posts %}
      {% if forloop.index == 1 %}
        <h2>My Latest Adventure</h1>
        <article class="post">
          <h1 class="post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
          </h1>

          <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

          {{ post.content }}
        </article>
      {% elsif forloop.index == 2 %}
        <h2>Previous Adventures</h2>
        <ul>
      {% endif %}

      {% if forloop.index > 1 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <div>{% if post.preview %} 
            <p>{{ post.preview }}</p>
          {% else %} 
            {{ post.excerpt }}
          {% endif %}
          </div>
        </li>
      {% endif %}
      
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
  
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        {% include svg-icon.html icon="arrow-left" %} Older Posts
      </a>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        Newer Posts {% include svg-icon.html icon="arrow-right" %}
      </a>
    {% endif %}
  </div>

</section>
