---
title: Prime Cohorts
layout: page
permalink: prime_cohorts/
---

{% assign p1 = "I love working at [Prime Digital Academy](http://primeacademy.io). 
  It's probably been the most impactful thing that I've ever done, both for me 
  personally and for the community around me. It's an amazing experience to be 
  part of an environment so focused on helping people to envision and make a 
  change in their lives." %}
<p>
  {{ p1 | markdownify }}
</p>

{% assign p2 = "Prime is a little different than other, *bootcamp* or immersion
programs. The focus is broader than just stuffing people full of tech skills, 
though frankly that is done __*really*__ well. The extras develop the most amazing 
and capable engineers: career & soft skills, exploration of (tech) culture issues 
ranging from diversity to design & accessibility, and perhaps most importantly 
communication, specifically public speaking. I wish I had this type of guidance 
when I was starting out. " %}
<p>
  {{ p2 | markdownify }}
</p>

<p>
  Most of my Prime life is personal and not something to share, but 
  I've really wanted to keep a little history here of my Prime cohorts. 
  Something to look back at and remember the adventures that we all shared.
</p>

<h2>Cohort Gallery</h2>
<div class="gallery-container">
  <figure class="gallery-image">
    {% asset 2018/05/04/Gacrux-graduation.jpg alt="Gacrux cohort graduation day." %}
    <caption>Gacrux - 5/4//2018</caption>
  </figure>
  <figure class="gallery-image">
      {% asset 2018/08/17/Menkar-graduation.jpg alt="Gacrux cohort graduation day." %}
      <caption>Menkar - 8/17/2018</caption>
  </figure>
  <figure class="gallery-image">
      {% asset 2019/01/18/sirius-graduation.jpg alt="Atbash graduation pic" %}
      <caption>Sirius - 1/18/2019</caption>
  </figure>
  <figure class="gallery-image">
      {% asset 2019/06/07/atbash-graduation.jpg alt="Atbash graduation pic" %}
      <caption>Atbash - 6/7/2019</caption>
  </figure>
  <figure class="gallery-image">
      {% asset 2019/09/20/PlayfairGraduation.jpg alt="Playfair graduation pic" %}
      <caption>Playfair - 9/20/2019</caption>
  </figure>
  <figure class="gallery-image">
      {% asset 2020/02/21/TrifidGraduation.jpg alt="Trifid graduation pic" %}
      <caption>Trifid - 2/21/2020</caption>
  </figure>
  <figure class="gallery-image">
    {% asset 2020/06/12/DijkstraGraduation.jpg alt="Dijkstra Zoom graduation pic" %}
    <caption>Dijkstra - 6/12/2020 (Ended remote due to Covid-19</caption>
</figure>
  </div>

{% assign related_posts = site.related_posts %}
{% for category in site.categories %}
  {% if category[0] == 'Prime' %}
    {% assign related_posts = category[1] %}
  {% endif %}
{% endfor %}


<h2>Cohort Updates</h2>
<ul class="related-posts">
  {% for post in related_posts %}
    {% if post.title != page.title %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>