---
title: Watchlist by Title
layout: page
---

<section>
  <h2>Anime Favorites</h2>

  <h3>All Time Favorites</h3>
  {% assign p2 = "OK, so this is a tough list to make, but of *all* the anime that 
      I have watched over the years, these are my personal favorites. They are 
      sorted by age, with the older ones, *classics* shall we say, at the top." %}
  <p>
    {{ p2 | markdownify }}
  </p>

  {% assign watchlist = site.vizmedia | where_exp: 'item', "item.tags contains 'all-time-favorite'" | sort: 'us_release' %}
  <ul class="media-list">
  {% for item in watchlist %}
    <li class="media-list-item">
      {% include vizmedia-info.html media=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>