---
title: Watch List
layout: page
---


<section>
  <h2>Currently Watching</h2>

  {% assign watchlist = site.vizmedia | where_exp: 'item', "item.status contains 'current'"  %}
  {% if watchlist.size == 0 %}
    <p>Nothing right now... Check back later!</p>
  {% else %}
  <ul class="media-list">
  {% for item in watchlist %}
    <li class="media-list-item">
      {% include vizmedia-info.html media=item style='link' %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</section>

{% assign watchlist = site.vizmedia | where_exp: 'item', "item.status contains 'to-watch'"  %}
{% if watchlist.size > 0 %}
<section>
  <h2>Next Up</h2>

  <ul class="media-list">
  {% for item in watchlist limit: 5%}
    <li class="media-list-item">
      {% include vizmedia-info.html media=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}

<section>

{% assign watchlist = site.vizmedia | where_exp: 'item', "item.status contains 'on-hold'"  %}
{% if watchlist.size > 0 %}
<section>
  <h2>On Hold</h2>

  <ul class="media-list">
  {% for item in watchlist limit: 5%}
    <li class="media-list-item">
      {% include vizmedia-info.html media=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
    
<section>
  
  <h2>Recently Finished</h2>

  {% assign watchlist = site.vizmedia | where: 'status', 'finished' | sort: 'last_seen' | reverse %}
  <ul class="media-list">
  {% for item in watchlist  limit: 5 %}
    <li class="media-list-item">
      {% include vizmedia-info.html media=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>

<section>
  <h2>More...</h2>

  <nav class="books-nav">
    <ul>
      <li>
        <a href="{% link watch/byTitle.html %}">Full Watchlist by Title</a>
      </li>
    </ul>
  </nav>
</section>
