---
layout: default
---


<article class="book-review">
  <h1>Review of {{ page.title }}</h1>
  
  <section class="book-info">
    <h2>Book Info</h2>
    {% include book-info.html book=page %}
  </section>

  {% if page.read %}
  <section class="book-history">
    <h2>Reading History</h2>
    <p>
      {% assign read_count = page.read.size %}
      {% if page.read_count %}{% assign read_count = page.read_count %}{% endif %}
      <span class="read-count">
        I've read this book {% if read_count == 1 %} once. {% else %} {{ read_count }} times. {% endif %}
      </span>
      {% assign last_read = page.read.first %}
      <span class="last-read">
      {% if last_read.start and last_read.end and last_read.start != last_read.end %}
        My last read was {{ last_read.start | date: "%B %e, %Y" }} to {{ last_read.end | date: "%B %e, %Y" }}.
      {% elsif last_read.end %}
        My last read was on {{ last_read.end | date: "%B %e, %Y" }}.
      {% elsif last_read.start %}
        My latest read is unfinished, but I started on {{ last_read.start | date: "%B %e, %Y" }}.
      {% else %}
        This book is on my want to read list.
      {% endif %}
      </span>
    </p>
    {% if page.read.size > 1 %}
    <p>Previous Reads:</p>
    <ul class="history-list">
    {% for item in page.read offset:1 %}
      <li class="history-list-item">
      {% if item.start and item.end and item.start != item.end %}
        {{ item.start | date: "%B %e, %Y" }} to {{ item.end | date: "%B %e, %Y" }}
      {% elsif item.end %}
        {{ item.end | date: "%B %e, %Y" }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </section>  
  {% endif %}

  <section class="review">
    <h2>Review</h2>
      {{ content }}
  </section>

  {% if page.series %}
  {% if page.series.url %}
    <h2>Related Books</h2>
    <p>
      <a href="{{ page.series.url }}">{{page.series.name}}</a> 
    </p>
  {% else %}
    {% assign series_list = site.book | where_exp: 'item', "item.series.name == page.series.name"  %}
    {% assign series_sorted = series_list | sort: 'series.number' %}
    {% if series_sorted.size > 1 %}
    <section class="series">
      <h2>Related Books</h2>

      {% for item in series_sorted  %}
        {% if item.name_full != page.name_full %}
        <li class="series-item">
          <a href="{{ item.url }}">
            {{item.title}}, {{item.series.name}} 
            {% if item.series.number %}
              #{{ item.series.number }}
            {% endif %}
          </a> 
        </li>
        {% endif %}
      {% endfor %}  
    </section>
    {% endif %}
    {% endif %}
  {% endif %}

</article>
