---
layout: default
---

<h1>{{page.title}}</h1>

{% assign goal_data = Nil %}
{% for data in site.data.reading_goals %}
  {% if data.year == page.year %}
    {% assign goal_data = data %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign total_read = page.books | size  %}
{% assign manga_count = 0 %}
{% assign graphic_novels = 0 %}
{% assign novel_count = 0 %}
{% assign nonfiction_count = 0 %}
{% assign other_count = 0 %}

{% for book in page.books %}
  {% if book.type == 'manga' %}
    {% assign manga_count = manga_count | plus: 1 %}
  {% elsif book.type == 'novel' %}
    {% assign novel_count = novel_count | plus: 1 %}
  {% elsif book.type == 'graphic_novel' %}
    {% assign graphic_novel_count = graphic_novel_count | plus: 1 %}
  {% elsif book.type == 'non-fiction' %}
    {% assign nonfiction_count = nonfiction_count | plus: 1 %}
  {% else %}
    {% assign other_count = other_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if goal_data != Nil %}
<section>
  <h2>Goal</h2>
  <p>
    My goal for {{ goal_data.year }} was to read {{ goal_data.books}} books.  
  </p>
  {% if goal_data.notes %}
  <p>
    {{ goal_data.notes }}   
  </p>
  {% endif %}
  <h3>Status</h3>
    <p>
      {% if total_read < goal_data.books %}
        This year I have read {{ total_read }} books, which is 
        {{ total_read | times: 1.0 | divided_by: goal_data.books | times: 100 | round}}% 
        of my target.
      {% elsif total_read == goal_data.books %}
        This year I have read {{ total_read }} books, which meets my goal!
      {% else %}
        This year I have read {{ total_read }} books, which exceed my target. <strong>Woot!</strong>
      {% endif %}
    </p>
    <ul>
      {% if novel_count > 0 %}<li>Novels: {{ novel_count }}</li>{% endif %}
      {% if manga_count > 0 %}<li>Manga: {{ manga_count }}</li>{% endif %}
      {% if graphic_novel_count > 0 %}<li>Graphic novels: {{ graphic_novel_count }}</li>{% endif %}
      {% if nonfiction_count > 0 %}<li>Non-fiction: {{ nonfiction_count }}</li>{% endif %}
      {% if other_count > 0 %}<li>Other: {{ other_count }}</li>{% endif %}
    </ul>
</section>
{% endif %}

{% assign sortedBooks = page.books | sort:"name_full" %}
<section>
  <h2>Books</h2>
  <ul class="book-list">
  {% for item in sortedBooks %}
    <li class="book-list-item">
      {% include book-info.html book=item style='link' %}
    </li>
  {% endfor %}
  </ul>
</section>