---
layout: default
---


<article class="book-review">
  <h1>Manga: {{ page.title }}</h1>
  
  <section class="book-info">
    {% if page.jp_title %}
    <p class="japanese-title">
      Japanese Title: {{page.jp_title}}
    </p>
    {% endif %} 
    <p class="author">
      Author: {{ page.author }} ({{ page.jp_author }})
    </p>
    {% if page.anime %}
    <p class="anime">
      <a href={{page.anime}}>Anime Series</a>
    </p>
    {% endif %}
  </section>
  <section>
    <h2>Volumes</h2>  
    <ul class="book-list">
    {% for volume in page.volumes %}
    {% assign volume_name = page.title | append: ' #' | append: volume.number %}
    <li class="book-list-item">
      {% assign book_info = '' %}
      {% for book in site.book %}
        {% if book.name_full == volume_name %}
          {% assign book_info = book %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% include book-info.html book=book_info style='link' %}
    </li>
    {% endfor %}
    </ul>  
  </section> 

  <section class="review">
    <h2>Review</h2>
      {{ content }}
  </section>

</article>
