---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% assign related_posts = site.related_posts %}

{% if page.category %}
  {% for category in site.categories %}
    {% if category[0] == page.category %}
      {% assign related_posts = category[1] %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in related_posts limit:10 %}
      {% if post.title != page.title %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</aside>
{% endif %}
