---
layout: default
---


<article class="media-review">
  <h1>
    {{ page.title }} 
  </h1>
  
  <section class="media-info">
    <h2>Basic Info</h2>
    <div class="media-container">
      <div class="media-image small">
        {% if page.img %}<img src="{{page.img}}" alt="poster" />{% endif %}
      </div>
      <div class="media-info">
        <h3 class="title">
          {{ page.title }} 
        </h3>
        {% if page.jp_title %}
        <p class="japanese-title">
          Japanese Title: {{page.jp_title}}
        </p>
        {% endif %}
        {% if page.studio %}
        <p class="studio">
          Producer: {{ page.studio }} {% if page.jp_studio %}({{page.jp_title}}){% endif %}
        </p>
        {% endif %}
        {% if page.director %}
        <p class="director">
          Director: {{ page.director }} {% if page.jp_director %}({{page.jp_title}}){% endif %}
        </p>
        {% endif %}
        {% if page.online %}
        <p class="online">
          <a href="{{page.online.url}}" target="_blank">Watch online at {{page.online.service}}</a>
        </p>
        {% endif %}
      </div>
    </div>
  </section>

  {% if page.music and page.music.size > 0 %}
  <section>
    <h2>Music</h2>  
    <ul class="media-list">
    {% for item in page.music %}
    <li class="media-list-item">
        <h3 class="title">
          {{ item.name }} 
        </h3>
        <p class="author">
          {{item.artist}}
        </p>
        <p class="used">
          {% if item.url %}<a href={{item.url}} target="_blank">{{item.used}}</a>
          {% else %}{{item.used}}
          {% endif %}
        </p>
    </li>
    {% endfor %}
    </ul>  
  </section> 
  {% endif %}

  {% if page.content %}
  <section class="review">
    <h2>Overall Thoughts</h2>
      {{ content }}
  </section>
  {% endif %}

  {% assign episodes = site.vizmedia | where:"series", item.series | where: "type", "episode" | sort: "number" %} 
  {% if episodes %}
  <section>
    <h2>Episodes</h2>  
    <p>Beware! There may be <strong>spoilers</strong> in the content below!</p>
    <ul class="media-list">
    {% for episode in episodes %}
    {% assign episode_name = episode.number | append: ' - ' | append: episode.name %}
    <li class="media-list-item">
        <div class="episode">
          <h3 class="title">
            {{ episode_name }} 
          </h3>
          <p class="japanese-title">
            {% if episode.jp_name %}Japanese Title: {{episode.jp_name}}{% endif %}
          </p>
          {% if episode.status %}
          <p class="status">
            Status: {{ episode.status }}
          </p>
          {% endif %}
          {% if episode.view_history %}
          <p class="status">
            Last seen on: {{ episode.view_history.first.date | date: "%B %e, %Y" }}
          </p>
          {% endif %}
          {% if episode.summary %}
          <h4>Summary</h4>
          <p>{{ episode.summary }}</p>
          {% endif %}
          {% if episode.content %}
          <h4>Review</h4>
          <p>{{ episode.content }}</p>
          {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>  
  </section> 
  {% endif %}

</article>
