---
layout: default
---

<article class="vizmedia-review">
  <h1>Review of {{ page.title }}</h1>
  
  <section class="vizmedia-info">
    <h2>Basic Info</h2>
    {% include vizmedia-info.html item=page %}
  </section>

  {% if page.read %}
  <section class="vizmedia-history">
    <h2>Viewing History</h2>
    <p>
      {% assign watch_count = page.watch.size %}
      {% if page.watch_count %}{% assign watch_count = page.watch_count %}{% endif %}
      <span class="vizmedia-count">
        I've watched this {% if watch_count == 1 %} once. {% else %} {{ watch_count }} times. {% endif %}
      </span>
      {% assign last_watch = page.watch.first %}
      <span class="vizmedia-read">
      {% if last_watch.start and last_watch.end and last_watch.start != last_watch.end %}
        My last watch was {{ last_watch.start | date: "%B %e, %Y" }} to {{ last_watch.end | date: "%B %e, %Y" }}.
      {% elsif last_watch.end %}
        My last watch was on {{ last_read.end | date: "%B %e, %Y" }}.
      {% else %}
        My latest watch is unfinished, but I started on {{ last_watch.start | date: "%B %e, %Y" }}.
      {% endif %}
      </span>
    </p>
    {% if page.watch.size > 1 %}
    <p>Previous Viewings:</p>
    <ul class="vizmedia-list">
    {% for item in page.watch offset:1 %}
      <li class="vizmedia-list-item">
      {% if item.start and item.end and item.start != item.end %}
        {{ item.start | date: "%B %e, %Y" }} to {{ item.end | date: "%B %e, %Y" }}
      {% elsif item.end %}
        {{ item.end | date: "%B %e, %Y" }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </section>  
  {% endif %}

  <section class="review">
    <h2>Review</h2>
      {{ content }}
  </section>

  {% if page.series %}
  <section class="series">
    <h2>Related Media</h2>
    {% assign series_list = site.book | where_exp: 'item', "item.series.name == page.series.name"  %}
    {% assign series_sorted = series_list | sort: 'series.number' %}
    {% for item in series_sorted  %}
      {% if item.title != page.title %}
      <li class="series-item">
        <a href="{{ item.url }}">
          {{item.title}}, {{item.series.name}} {% if item.series.number %}#{{ item.series.number }}{% endif %}
        </a> 
      </li>
      {% endif %}
    {% endfor %}  
  </section>
  {% endif %}

</article>
